# Maven build files
target

# Eclipse files
.settings
.classpath
.project

# Backup files
*~

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Mac OS X Desktop Services Store file
.DS_Store
